@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --header-height: 4rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height); 
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-pagination-bullet-custom {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #6b7280;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active-custom {
  background-color: #db0909; 
  opacity: 1;
  transform: scale(1.2);
}

.swiper-pagination-bullet-custom:hover {
  opacity: 0.8;
}